<html>	
	<head>
		<title> modify </title>
		<meta charset='utf-8'>
	</head>
	<body>
		<h1>修改</h1>
		<form action="" method="post">
			{%csrf_token%}
			<label for="sex">Sex:</label>
			<input type="text" name="sex" value="" id="sex"><br>
			<label for="height">Height:</label>
			<input type="text" name="height" value="" id="height"><br>
			<label for="weight">Weight:</label>
			<input type="text" name="weight" value="" id="weight"><br>
			<label for="hobby">Hobby:</label>
			<input type="text" name="hobby" value="" id="hobby"><br>
			<input type="submit" value="確認">
			
		</form>
	</body>
</html>